<!DOCTYPE html>
<html lang="en" class="">
<head>

<script id="domains" type="text/javascript">
// Set Domains here
</script>

<script>
    // Iterate through configuration values here
</script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no">
<link rel="apple-touch-icon" href="http://Img1.targetimg1.com/wcsstore/marketing/com/mobile/images/template/apple-touch-icon.png">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="Stylista All" />
<meta name="keywords" content="" />
<meta name="format-detection" content="telephone=no">
<link rel="canonical" href=""/>
    {% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}
<title>Stylista All</title>
<script src="/backbone/js/libs/require.js" data-main="/backbone/js/require-config.js"></script>
</head>
<body id="home">
<div id="viewport">
    <div id="pageStart"/>
</div>
<script id="page-meta" type="application/json">
    {
        "img_domain" : "http://img3.targetimg3.com",
        "img_secure_domain" : "https://img3-secure.targetimg3.com",
        "generated_time" : "Mon Nov 24 05:49:25 EST 2014",
        "build_number" : "200-11042014",
        "page_name" : "mHome",
        "view_def" : {
            "header" : [ {
                "path" : "http://img3.targetimg3.com/wcsstore/marketing/com/mobile/includes/template/header_v2.html",
                "position" : 1
            } ],
            "main_body" : [ {
                "path" : "http://img3.targetimg3.com/wcsstore/marketing/com/mobile/en/html/home/20141123_mweb.html",
                "position" : 1
            } ],
            "footer" : [ {
                "path" : "http://img3.targetimg3.com/wcsstore/marketing/com/mobile/includes/template/header_v2.html",
                "position" : 1
            } ]
        },
        "page_grid" : "<div id=\"header\" data-name=\"views/common/header.view\"></div><div id=\"main_body\" class=\"main-content\" data-page=\"home page\" data-name=\"views/home/main.view\"></div><div id=\"footer\" data-name=\"views/common/footer.view\"></div>",
        "title" : "",
        "processing_time" : 113,
        "jsfiles" : [ ],
        "cssfiles" : [ ],
        "feature" : {
        }
    }
</script>
</body>
</html>

